body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.37); /* Colore di sfondo bianco con un'opacità del 90% */
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.detail-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-info p {
    color: #666;
    margin-bottom: 10px;
}

.comment-form {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
}

.comment-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.comment-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.comment-list {
    margin-top: 20px;
}

.comment-list p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#back-to-filament {
    margin-top: 20px;
    text-align: center;
}

#back-to-filament button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#back-to-filament button:hover {
    background-color: #0056b3;
}
